<div style="text-align:center">
  <h1 class="d"><br />Car list in your database: <br /></h1>
  <br />
</div>
<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>License number</th>
      <th>Brand</th>
      <th>Number of doors</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <div class="col-sm"><img src="https://picsum.photos/id/111/130/130" class="rounded-circle" alt="Cinque Terre"></div></td>
      <td>{{showCars[0].licensePlate}}</td>
      <td>{{showCars[0].brand}}</td>
      <td>{{showCars[0].nrOfDoors}}</td>
      <td><a href="#">Edit information</a></td>
      <td><a href="#">View availability</a></td>
      <td><a href="#">Delete</a></td>
    </tr>
    <tr>
      <td>  <div class="col-sm"><img src="https://picsum.photos/id/111/130/130" class="rounded-circle" alt="Cinque Terre"></div>   </td>
      <td>{{showCars[1].licensePlate}}</td>
      <td>{{showCars[1].brand}}</td>
      <td>{{showCars[1].nrOfDoors}}</td>
      <td><a href="#">Edit information</a></td>
      <td><a href="#">View availability</a></td>
      <td><a href="#">Delete</a></td>
    </tr>
    <tr>
      <td> <div class="col-sm"><img src="https://picsum.photos/id/111/130/130" class="rounded-circle" alt="Cinque Terre"></div></td>
      <td>{{showCars[2].licensePlate}}</td>
      <td>{{showCars[2].brand}}</td>
      <td>{{showCars[2].nrOfDoors}}</td>
      <td><a href="#">Edit information</a></td>
      <td><a href="#">View availability</a></td>
      <td><a href="#">Delete</a></td>
    </tr>
  </tbody>
</table>

<ul class="pagination-center">
  <button type="button" class="btn btn-default"> << </button>
  <button type="button" [ngClass]="leftClassManager" (click)="changePage($event)" id="first"> {{pageState.firstButton}} </button>
  <button type="button" [ngClass]="middleClassManager" (click)="changePage($event)" id="middle">{{pageState.middleButton}} </button>
  <button type="button" [ngClass]="rightClassManager" (click)="changePage($event)" id="right"> {{pageState.leftButton}} </button>
  <button type="button" class="btn btn-default"> >> </button>
</ul>
