
<div class="rentingPart">

  <h4>Rent a car:   </h4>

  <table class="carSpecs">

    <thead>

      <tr>

        <th>Photo</th>

        <th>Registration number</th>

        <th>Car Brand-Type</th>

        <th>Number of doors</th>

      </tr>



    </thead>



    <tbody>

      <tr>

        <td> <div class="col-sm"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2aZzJlEZYzJRcoEPAKm9QlKL1g3AZDqBJZ21p61AWcYHvt16MuA" class="rounded-circle" /> </div></td>
          
        <td>{{cars[0].licensePlate}}</td>

        <td>{{cars[0].brand}}</td>

        <td>{{cars[0].nrOfDoors}}</td>

      </tr>

    </tbody>



  </table>

</div>

  <div class="userInformation">
    <h4>User Information: </h4>
    <label for="usr"> First Name: </label>
    <input type="text" class="form-control" id="userFirstName" />
    <label for="usr"> Last Name: </label>
    <input type="text" class="form-control" id="userLastName" />
    <label for="usr"> Email: </label>
    <input type="text" class="form-control" id="email" />
    <label for="usr"> Phone Number: </label>
    <input type="text" class="form-control" id="phoneNumber" />
    <div class="buttonpoz">

      <button type="button" (click)='clickAction1($event)' class="button">Send request</button>

    </div>

  </div>
  <div class="container">
    <app-calendar></app-calendar>
  </div>



