<div class="title">
  <div class=" row">
    
     <h4>Rent a car:   </h4>
    <div class=" image">
    <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2aZzJlEZYzJRcoEPAKm9QlKL1g3AZDqBJZ21p61AWcYHvt16MuA" alt="Audi RS7" width="304" height="184"> </div>
    <div class="info">
      <h4>Registration number:</h4>
      <h4>Car Brand - Type:</h4>
      <h4>Number of doors:</h4>
    </div>
  </div>
</div>




<div class="userInformation" style="width:30%; height:10%;">
  <h4> User information: </h4>
  <label for="usr">First Name:</label>
  <input type="text" class="form-control" id="amount" />
  <label for="usr">Last Name:</label>
  <input type="text" class="form-control" id="amount" />
  <label for="usr">Email:</label>
  <input type="text" class="form-control" id="amount" />
  <label for="usr">Phone Number:</label>
  <input type="text" class="form-control" id="amount" />
  <div class="buttonpoz">
  <button type="button" class="button">Send request</button>
</div>
</div>


<div class="calendar">
  <h4>Period for rental:</h4>
  <div class="month" style="width:140%; height:50%;">
    <ul>
      <li class="prev">&#10094;</li>
      <li class="next">&#10095;</li>
      <li>August<br><span style="font-size:18px">2019</span></li>
    </ul>
  </div>

  <ul class="weekdays" style="width:140%; height:50%;">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>

  <ul class="days" style="width:140%; height:50%;">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li><span class="active" style="width:30%; height:10%;">10</span></li>
    <li>11</li>
    <li>12</li>
    <li>13</li>
    <li>14</li>
    <li>15</li>
    <li>16</li>
    <li>17</li>
    <li>18</li>
    <li>19</li>
    <li>20</li>
    <li>21</li>
    <li>22</li>
    <li>23</li>
    <li>24</li>
    <li>25</li>
    <li>26</li>
    <li>27</li>
    <li>28</li>
    <li>29</li>
    <li>30</li>
    <li>31</li>

  </ul>

</div>


