.buttonpoz {
  align-content: center;
  padding: 20px 0px 3px 100px;
}
.rentingPart {
  background: #D3D3D3;
}
.carSpecs {
  width: 100%;
  top: 50px;
  background: #D3D3D3;
}
.userInformation {
  float: left;
  margin: auto;
  margin-top: 400px;
  margin-right: 100px;
  padding-left:100px;
}
.container{
  padding-top: 300px;
  padding-left:200px;
}
