<div class="f" style="text-align:center">
  <h1 class="d"><br />Update car from the system:<br /><br /></h1>
</div>



<div class="a" >
  
    <table align="center">
      <tr>
        <td>Car brand:</td>
        <td>
          <input class="form-control-sm" type="text" id="brand" value="{{currentCar.brand}}" required  />
        </td>
      </tr>
      <tr>
        <td>Car model:</td>
        <td>
          <input class="form-control-sm" type="text" id="model"
                 required value="{{currentCar.model}}"
                 >
        </td>
      </tr>
      <tr>
        <td> License plate:</td>
        <td>
          <input class="form-control-sm" type="text" id="licP" value="{{currentCar.licensePlate}}" 
                 required><br>
        </td>
      </tr>
      <tr>
        <td> Number of seats:</td>
        <td>
          <input class="form-control-sm" value="{{currentCar.nrOfSeats}}" type="text" id="seatnb"
                 required>
        </td>
      </tr>
      <tr>
        <td>Number of doors:</td>
        <td>
          <input class="form-control-sm" value="{{currentCar.nrOfDoors}}" type="text" id="doornb" 
                 required>
        </td>
      </tr>
      <tr>
        <td>Price per day:</td>
        <td>
          <input class="form-control-sm" value="{{currentCar.pricePerDay}}" type="text" id="price" 
                 required><br>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><input type="checkbox" value="{{currentCar.hasAutomaticGearbox}}" id="gearbox" >Automatic gearbox<br></td>
      </tr>
      <tr>
        <td colspan="2">Add image files:</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input #file type="file" multiple name="fileToUpload" id="fileToUpload" >
        </td>
      </tr>
      <tr>
        <td></td>
        <td><input type="button" (click)='clickAction($event)' class="btn btn-outline-secondary" value="Update car" /></td>
      </tr>
    </table>


  


</div>


