<div style="text-align:center">
  <h1 class="d"><br />Edit car information:<br /></h1>
</div>


<div class="a">
  Car brand:<br />
  Car model:<br />
  Registration number:<br />
  Number of seats:<br />
  Number of doors:<br />
  <br />
  <br />
  Pictures:<br />
</div>
<div class="b">
  <form>

    <input type="text" name="brand"><br>

    <input type="text" name="model"><br>

    <input type="text" name="regnb"><br>

    <input type="text" name="seatsnb"><br>

    <input type="text" name="doornb"><br>

    <input type="checkbox" name="air" value="">Air Conditioning<br>
    <input type="checkbox" name="gearbox" value="">Automatic gearbox<br>


    <input type="file" name="pic" accept="image/*"><br>
    <input type="file" name="pic" accept="image/*"><br>
    <input type="file" name="pic" accept="image/*"><br>
    <input type="file" name="pic" accept="image/*"><br>



  </form>
  <button class="c" type="button">Update car information</button>
</div>

