<table class="table">
        <thead>
          <tr>
            <th>Photo</th>
            <th>License number</th>
            <th>Brand</th>
            <th>Number of doors</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <div class="col-sm"><img src="https://picsum.photos/id/111/130/130" class="rounded-circle" alt="Cinque Terre"></div></td>
            <td>{{showCars[0].licensePlate}}</td>
            <td>{{showCars[0].brand}}</td>
            <td>{{showCars[0].nrOfDoors}}</td>
            <td><a href="#">Rent!</a></td>
          </tr>
          <tr>
            <td>  <div class="col-sm"><img src="https://picsum.photos/id/111/130/130" class="rounded-circle" alt="Cinque Terre"></div>   </td>
            <td>{{showCars[1].licensePlate}}</td>
            <td>{{showCars[1].brand}}</td>
            <td>{{showCars[1].nrOfDoors}}</td>
            <td><a href="#">Rent!</a></td>
          </tr>
          <tr>
            <td> <div class="col-sm"><img src="https://picsum.photos/id/111/130/130" class="rounded-circle" alt="Cinque Terre"></div></td>
            <td>{{showCars[2].licensePlate}}</td>
            <td>{{showCars[2].brand}}</td>
            <td>{{showCars[2].nrOfDoors}}</td>
            <td><a href="#">Rent!</a></td>
          </tr>
        </tbody>
      </table>


      <ul class="pagination-center">
        <button type="button" class="btn btn-default"> << </button>
        <button type="button" [ngClass]="firstClassManager"(click)="changePage($event)" id="first">{{pageState.firstButton}}</button>
        <button type="button" [ngClass]="secondClassManager"(click)="changePage($event)" id="second"> {{pageState.secondButton}} </button>
        <button type="button" [ngClass]="thirdClassManager" (click)="changePage($event)" id="third">{{pageState.thirdButton}} </button>
        <button type="button" [ngClass]="fourthClassManager" (click)="changePage($event)" id="fourth"> {{pageState.fourthButton}} </button>
        <button type="button" [ngClass]="fifthClassManager" (click)="changePage($event)" id="fifth"> {{pageState.fifthButton}} </button>
        <button type="button" class="btn btn-default"> >> </button>
      </ul>