<table class="table">
        <thead>
          <tr>
            <th>Photo</th>
            <th>License number</th>
            <th>Brand</th>
            <th>Number of doors</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <div class="col-sm"><img src="https://picsum.photos/id/111/130/130" class="rounded-circle" alt="Cinque Terre"></div></td>
            <td>{{cars[0].licensePlate}}</td>
            <td>{{cars[0].brand}}</td>
            <td>{{cars[0].nrOfDoors}}</td>
            <td><a href="#">Rent!</a></td>
          </tr>
          <tr>
            <td>  <div class="col-sm"><img src="https://picsum.photos/id/111/130/130" class="rounded-circle" alt="Cinque Terre"></div>   </td>
            <td>{{cars[1].licensePlate}}</td>
            <td>{{cars[1].brand}}</td>
            <td>{{cars[1].nrOfDoors}}</td>
            <td><a href="#">Rent!</a></td>
          </tr>
          <tr>
            <td> <div class="col-sm"><img src="https://picsum.photos/id/111/130/130" class="rounded-circle" alt="Cinque Terre"></div></td>
            <td>{{cars[2].licensePlate}}</td>
            <td>{{cars[2].brand}}</td>
            <td>{{cars[2].nrOfDoors}}</td>
            <td><a href="#">Rent!</a></td>
          </tr>
        </tbody>
      </table>


      <button (click)="testData($event)">FETCHHHHHHHHHHHHHHHHHHHHHHHHHHHHH!</button>