.split {
  height: 100%;
  position: fixed;
  width: 50%;
}

.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
  background-color: white;
}

.text-left {
  text-align: left;
  margin-left: 10%;
  margin-top: 15%;
  font-size: 30px;
}

.text-justify {
  text-align: left;
  margin-left: 10%;
  margin-top: 3%;
  font-size: 20px;
}

.text-right {
  margin-left: 10%;
  margin-top: -3%;
}

.custom-checkbox {
  margin-left: 10%;
  margin-top: 5%;
}

.btn-primary{
  margin-top:5%;
  margin-left:10%;
}

[type="date"] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }

  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

/* custom styles */
body {
  padding: 4em;
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

label {
  display: block;
}

input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}

.img-thumbnail{
  width:90%;
}

.blank_row {
  height: 10px !important; /* overwrites any other rules */
  background-color: #FFFFFF;
}

tr.border_bottom td {
  border-bottom: 2pt solid black;
}

tr.border_top td {
  border-top: 2pt solid black;
}


