<!-- Navigation -->



<div class="split left" ng-controller="geek" ng-app="app">
  <p class="text-left">Search</p>
  <p class="text-justify">
    City:
    <select>
      <option *ngFor="let index of city">{{ index.cityName }}</option>
    </select>
  </p>

  <p class="text-justify">
    Pickup period
    <label for="dateofbirth"></label>
    <input type="date" name="dateofbirth" id="dateofbirth">

    <select style="margin-left: 20%">
      <option *ngFor="let index of hours">{{ index }}</option>
    </select>

  </p>

  <p class="text-justify">
    Return period
    <label for="dateofbirth"></label>
    <input type="date" name="dateofbirth" id="dateofbirth" />

    <select style="margin-left: 20%">
      <option *ngFor="let index of hours">{{ index }}</option>
    </select>
  </p>

  <p class="text-justify">
    <br />
    <input type="checkbox" class="custom-control-input" id="defaultUnchecked" ng-model="check" onchange="document.getElementById('sendNewSms').disabled = !this.checked;">
    <label class="custom-control-label" for="defaultUnchecked">Age over 21 years!</label>
    <input type="submit" value="Search" name="sendNewSms" class="inputButton" id="sendNewSms" disabled="disabled" />
    <br />

  </p>
</div>

  <button type="button" class="btn btn-primary">
      <a class="nav-link" href="car-list-user"></a>
      Search
  </button>

  
        
  </div>

  <div class="split right">
    <div class="table-responsive">
      <table style="margin-top: 15%">
        <tbody>
          <tr class="border_top">
            <td style="width:30%" rowspan="3"><img src="https://cdn2.carbuyer.co.uk/sites/carbuyer_d7/files/2017/12/lamborghini-urus-8_1.jpg" alt="CarImage" class="img-thumbnail" /></td>
            <td>Registration number</td>
            <td style="width:40%">{{randomCars[0].licensePlate}}</td>
          </tr>
          <tr>
            <td>Car brand type</td>
            <td>{{randomCars[0].brand}}</td>
          </tr>

          <tr>
            <td>Number of doors</td>
            <td>{{randomCars[0].nrOfDoors}}</td>
          </tr>

          <tr class="border_top">
            <td rowspan="3"><img src="https://cdn2.carbuyer.co.uk/sites/carbuyer_d7/files/2017/12/lamborghini-urus-8_1.jpg" alt="CarImage" class="img-thumbnail" /></td>
            <td>Registration number</td>
            <td>{{randomCars[1].licensePlate}}</td>
          </tr>

          <tr>
            <td>Car brand type</td>
            <td>{{randomCars[1].brand}}</td>
          </tr>

          <tr class="border_bottom">
            <td>Number of doors</td>
            <td>{{randomCars[1].nrOfDoors}}</td>
          </tr>

          <tr class="border_top">
            <td rowspan="4"><img src="https://cdn2.carbuyer.co.uk/sites/carbuyer_d7/files/2017/12/lamborghini-urus-8_1.jpg" alt="CarImage" class="img-thumbnail" /></td>
            <td>Registration number</td>
            <td>{{randomCars[2].licensePlate}}</td>
          </tr>

          <tr>
            <td>Car brand type</td>
            <td>{{randomCars[2].brand}}</td>
          </tr>

          <tr>
            <td>Number of doors</td>
            <td>{{randomCars[2].nrOfDoors}}</td>
          </tr>

          <tr class="border_top"></tr>
        </tbody>

      </table>
    </div>
  </div>



  <script>

    var app = angular.module("app", []);
    app.controller('geek', ['$scope', function ($scope) {
      $scope.disableClick = function (isDisabled) {
        $scope.isDisabled = !isDisabled;
      }
    }]);
  </script>


