
<div class="container-fluid">

  <div class="row">

    <div class="col-lg">
      <div class="shadow-sm card mt-3">
        <div class="card-body">
          <h5 class="card-title text-justify">Search</h5>
          <p class="text-justify">
            City:
            <select (change)="selectChangeHandler($event)">
              <option *ngFor="let index of city">{{ index.cityName }}</option>
            </select>
          </p>

          <p class="text-justify">
            Pickup period
            <label for="pickupdate"></label>
            <input type="date" name="pickupdate" id="pickupdate" (change)="selectPickupPeriodHandler($event)">

            <select style="margin-left: 20%" (change)="selectPickupHourHandler($event)">
              <option *ngFor="let index of hours">{{ index }}</option>
            </select>
          </p>

          <p class="text-justify">
            Return period
            <label for="returndate"></label>
            <input type="date" name="returndate" id="returndate" (change)="selectReturnPeriodHandler($event)" />

            <select style="margin-left: 20%" (change)="selectReturnHourHandler($event)">
              <option *ngFor="let index of hours">{{ index }}</option>
            </select>
          </p>

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" (change)="verifyChecked($event.srcElement)">
            <label class="custom-control-label" for="defaultUnchecked">
              Age over 21 years!
            </label>
          </div>

          <button type="button" class="btn btn-primary" (click)="searchClick($event)">Search</button>
        </div>
        </div>
      </div>

    <div class="col-lg">
      <div class="shadow-sm card mt-3">
        <div class="card-body">
          <div class="table-responsive">
            <table>
              <tbody>
                <ng-container *ngFor="let car of randomCars">
                  <tr class="border_top">
                    <td style="width:30%;height:100px;" rowspan="3"><img src="../../assets/img/{{car.imgCars}}" alt="CarImage" class="img-thumbnail" /></td>
                    <td>Registration number</td>
                    <td style="width:40%">{{car.licensePlate}}</td>
                  </tr>

                  <tr>
                    <td>Car brand type</td>
                    <td>{{car.brand}}</td>
                  </tr>

                  <tr>
                    <td>Number of doors</td>
                    <td>{{car.nrOfDoors}}</td>
                  </tr>
                  </ng-container>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
      </div>


