<nav class="navbar navbar-expand-lg navbar-dark bg-info static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://www.autorentacar.net/images/content/logo.png" alt="Logo" class="img-responsive" width="200" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">View all cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">

  <div class="row">

    <div class="col-lg">
      <div class="shadow-sm card mt-3">
        <div class="card-body">
          <h5 class="card-title text-justify">Search</h5>
          <p class="text-justify">
            City:
            <select (change)="selectChangeHandler($event)">
              <option *ngFor="let index of city">{{ index.cityName }}</option>
            </select>
          </p>

          <p class="text-justify">
            Pickup period
            <label for="pickupdate"></label>
            <input type="date" name="pickupdate" id="pickupdate" (change)="selectPickupPeriodHandler($event)">

            <select style="margin-left: 20%" (change)="selectPickupHourHandler($event)">
              <option *ngFor="let index of hours">{{ index }}</option>
            </select>
          </p>

          <p class="text-justify">
            Return period
            <label for="returndate"></label>
            <input type="date" name="returndate" id="returndate" (change)="selectReturnPeriodHandler($event)" />

            <select style="margin-left: 20%" (change)="selectReturnHourHandler($event)">
              <option *ngFor="let index of hours">{{ index }}</option>
            </select>
          </p>

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" (change)="verifyChecked($event.srcElement)">
            <label class="custom-control-label" for="defaultUnchecked">
              Age over 21 years!
            </label>
          </div>

          <button type="button" class="btn btn-primary" (click)="searchClick($event)">Search</button>

          <p><span>You selected city: </span><b>{{searchedCar.selectedCity}}</b></p>
          <p><span>You selected pickup hour: </span><b>{{searchedCar.selectedPickupHour}}</b></p>
          <p><span>You selected return hour: </span><b>{{searchedCar.selectedReturnHour}}</b></p>
          <p><span>PickupPeriod: </span><b>{{searchedCar.selectedPickupPeriod}}</b></p>
          <p><span>ReturnPeriod: </span><b>{{searchedCar.selectedReturnPeriod}}</b></p>
          <p><span>Checkbox is: </span><b>{{searchedCar.isChecked}}</b></p>
          <p><span>Concatenate pickup </span><b>{{searchedCar.concatenatePickup}}</b></p>
          <p><span>Concatenate return </span><b>{{searchedCar.concatenateReturn}}</b></p>

        </div>
        </div>
      </div>

    <div class="col-lg">
      <div class="shadow-sm card mt-3">
        <div class="card-body">
          <div class="table-responsive">
            <table>
              <tbody>
                <ng-container *ngFor="let car of randomCars">
                  <tr class="border_top">
                    <td style="width:30%;height:100px;" rowspan="3"><img src="../../assets/img/{{car.imgCars}}" alt="CarImage" class="img-thumbnail" /></td>
                    <td>Registration number</td>
                    <td style="width:40%">{{car.licensePlate}}</td>
                  </tr>

                  <tr>
                    <td>Car brand type</td>
                    <td>{{car.brand}}</td>
                  </tr>

                  <tr>
                    <td>Number of doors</td>
                    <td>{{car.nrOfDoors}}</td>
                  </tr>
                  </ng-container>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
      </div>

      </div>
