

  <div class="f" style="text-align:center">
    <h1 class="d"><br />Add a new car in the system:<br /><br /></h1>
  </div>


 
  <div class="a" style="float:">
    <form  [formGroup]="newCarForm"  (ngSubmit)="onSubmit(file.files)" >
      <table align="center">
        <tr>
          <td>Car brand:</td>
          <td>
            <input class="form-control-sm" type="text" id="brand" required formControlName="brand"  />
          </td>
        </tr>
        <tr>
          <td>Car model:</td>
          <td>
            <input class="form-control-sm" type="text" id="model" 
                   required
                   formControlName="model">
          </td>
        </tr>
        <tr>
          <td> License plate:</td>
          <td>
            <input class="form-control-sm" type="text" id="licP" formControlName="licP" 
                   required><br>
          </td>
        </tr>
        <tr>
          <td> Number of seats:</td>
          <td>
            <input class="form-control-sm" type="text" formControlName="seatnb" id="seatnb" 
                   required>
          </td>
        </tr>
        <tr>
          <td>Number of doors:</td>
          <td>
            <input class="form-control-sm" type="text" id="doornb" formControlName="doornb" 
                   required>
          </td>
        </tr>
        <tr>
          <td>Price per day:</td>
          <td>
            <input class="form-control-sm" type="text" id="price" formControlName="price" 
                   required><br>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><input type="checkbox" id="gearbox"  formControlName="gearbox">Automatic gearbox<br></td>
        </tr>
        <tr>
          <td colspan="2">Add image files:</td>
        </tr>
        <tr>
          <td></td>   
          <td>
            <input #file type="file" multiple name="fileToUpload" id="fileToUpload" formControlName="inputGroupFile01">
          </td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" class="btn btn-outline-secondary" value="Add car"/></td>
        </tr>
      </table>

    </form>
   

  </div>





