<div class="jumbotron">
        <app-car-table></app-car-table>
</div>


<!-- TO be used later for pagination, duuh-->
<ul class="pagination-center">
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-primary">2</button>
        <button type="button" class="btn btn-default">3</button>
        <button type="button" class="btn btn-default">4</button>
        <button type="button" class="btn btn-default">5</button>
        <button type="button" class="btn btn-default">5</button>
      </ul>