
<div class="f" style="text-align:center">
  <h1 class="d"><br />Do you want to delete the car with the following information?<br /></h1>
</div>

<p> </p>
<div class="a">
  
  Car brand:
  <label id="carBrand" required name="carBrand">
    {{selectedCar.brand}}
  </label>
  <br />
  <!--<input type="hidden" id="carBrand" required name="carBrand" /><br />-->
  Car model:{{selectedCar.model}}<br />
  Registration number:
  <label id="carPlate" required name="carPlate">
    {{selectedCar.licensePlate}}
  </label>
  <br />
  Number of seats:{{selectedCar.nrOfSeats}}<br />
  Number of doors:{{selectedCar.nrOfDoors}}<br />
  <br />
  <br />

</div>
<br />
<img src="https://picsum.photos/id/111/130/130" />
<img src="https://picsum.photos/id/111/130/130" />
<br />
<img src="https://picsum.photos/id/111/130/130" />
<img src="https://picsum.photos/id/111/130/130" />

<br />
<br />
<br />

<div  class="e">
      <button type="button" (click)=clickAction($event) class=" btn-primary btn-primary btn-lg" onclick="window.location.href = 'car-list-user' ">Delete</button>
      <button type="button" class=" btn-primary btn-primary btn-lg" onclick="window.location.href = 'car-list-user' ">No</button>
</div>
 
